.container-list{
    display: flex;
    width: 100%;
    /* background: yellow; */
    box-sizing: border-box;
    justify-content: stretch;
}
    .list-product{
        width: 50%;
    }
    .list-product ul{
        list-style: none;
        display: flex;
        background: #FF8000;
        margin-bottom: 0px;
        margin-top: 0 ;
        height: 60px;
        align-items: center;
        justify-content: center;
        
    }
    .list-product li{
        padding-right: 40px;
        font-size: 15px;
        color: #ffffff;

    }
    .list__button{
        background: transparent;
        color: #FFF;
        letter-spacing: 4px;
        font-family: 'Muli', sans-serif;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
    }
    .list__button:focus{
        outline: none;
    }
    .container__box{
        /* background: red; */
        display: flex;
        justify-content: space-around;        
        flex-wrap: wrap;
        width: 100%;
        padding: 12px 0px;
    }
        .container__box--item{
            background: #FF8508;
            border-radius: 20px;
            width: 40%;
            max-height: 200px;
            margin: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #fff;
        }
        .img__delete{
            width: 30px;
            margin-left: 120px;
        }
            .img--item1{
                width: 100px;
                height: 100px;
            }
            .box__title{
                font-family: Muli;
                letter-spacing: 0.15em;
                display: inline-block;
                margin: 5px;
            }
            .box__price{
                margin: 0px;
            }
            .box__button{
                display: flex;
                margin: 5px;
            }
                .box__button input{
                    width: 20px;
                    margin: 0px 5px;
                    background: transparent;
                    border: 1px solid #000;
                    text-align: center;
                }
                .box__button input:focus{
                    outline: none;
                }
                .button__icon{
                    background:transparent;
                    border: none;
                    cursor: pointer;
                }
                .button__icon:focus{
                    outline: none;
                }
            .img--item2{
                width: 105px;
                margin-top: -60px;
            }
            .img--item3{
                width: 150px;
                margin-top: 10px;
            }
            .img--item4{
                width: 90px;
            }
            .img--itemA{
                width: 20px;
                margin-top: 30px;
            }
            .img--itemB{
                width: 30px;
            }
            .box__btn--item{    
                width: 20px;
            }
            .box__btn--itemQ{    
                width: 22px;
            }


    .list-pedidos{
        /* background: magenta; */
        display: flex;
        flex-direction: column;
        width: 50%;
        
    }
        .datos{
            display: flex;
            justify-content: center;
            margin-top: 10px;
            /* background: rebeccapurple; */
            margin-bottom: 20px;
        }
            .datos p{
                font-size: 12px;
                font-family: 'Muli', sans-serif;
                text-transform: uppercase;
                letter-spacing: 3px;
                padding-right: 10px;
            }
            .datos input{
                width: 250px;
                height: 30px;
            }
    .inventario-pedidos{
        /* background: red; */
        display: flex;
        flex-direction: column;
        background: rgba(255, 128, 0, 0.8);
        height: 300px;
        align-self: center;
        border-radius: 20px;
        align-content: center;
        justify-content: space-between;
    }
        .inventario-pedidos ul{
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: center;
        }
        .inventario-pedidos li{
            padding-right: 20px;
            text-transform: uppercase;
            font-family: 'Muli', sans-serif;
            letter-spacing: 3px;
            font-size: 15px;
            color: #ffffff;
        }
        .button-pedidos{
            width: 120px;
            height: 50px;
            border-radius: 10px;
            border: none;
            text-transform: uppercase;
            font-family: 'Muli', sans-serif;
            background: #ffffff;
            box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            align-self: center;
            margin-bottom: 30px;
        }
        .button-pedidos:hover{
            background: #FF8000;
            color: #ffffff;
        }
        .none{
            display: none;
        }
        .block{
            display: block;
        }
        