body{
    background: #fff;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    font-family: 'Muli', sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 14px;
}
.main img{
    width: 80px;
}
.main__menu{
    border: 2px solid #5D5360;
    width:18%;
    border-radius: 20px;
    padding-top: 5px;
}
.main__acompa{
    border: 2px solid #5D5360;
    width: 18%;
    border-radius: 20px;
    padding-top: 5px;
}
.main__bebidas{
    border: 2px solid #5D5360;
    width: 18%;
    border-radius: 20px;
    padding-top: 5px;
}
/* CAROUSEL CONTAINER */
.carousel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative; }
  
  .carousel__container {
    /* Si, no ponemos esta propiedad toda las imagenes se irian hacia abajo */
    white-space: nowrap;
    margin: 10px 50px;
    padding-top: 40px;
    text-align: center;
  }
  
  .carousel-item {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background: salmon;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    /* para que nuestra animación esté mas suave y esté centrado */
    transition: 450ms all;
    transform-origin: center left;
    position: relative; }
  
  /* .btn-agregar{
      position: absolute;
      top: -15px;
      right: -15px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #fff;
  } */
  /* ~para ambos */
  .carousel-item:hover ~ .carousel-item {
    /* Todo los elementos se van a desplazar hacia la derecha */
    transform: translate3d(100px, 0, 0); }
  
  /* cuando nos posemos sobre ellos la opacidad sea menor */
  .carousel__container:hover .carousel-item {
    opacity: 0.3; }
  
  /* cuando nos posemos sobre ella se incremente de tamañño */
  .carousel__container:hover .carousel-item:hover {
    /* tamaño más grande, normalmente nuestras imagenes vienen en 1*/
    transform: scale(1.4);
    /* y siga teniendo la misma luminosidad */
    opacity: 1; }
  
  .carousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover; 
  }
  
  .carousel-item__details {
    /* con esto vamos a ver un espacio desvanecido to top(desde arriba) y en 100%*/
    /* con esto estamos diciendo que vamos a generar un gradiente desde un colo transparente hasta más oscuro */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    /* una oacidad a la información */
    opacity: 0;
    /* va aparecer la opacidad de manera paulatina */
    transition: 450ms opacity;
    padding: 10px 10px;
    /* como el contenedor tiene una posicion relativa entones a esto le ponemos absoluta para que se acomode */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; }
  
  .carousel__agree {
    display: flex;
    align-items: center;
    padding-top: 5px; }
  
  .carousel-item__details img {
    height: 20px; }
  
  .carousel-item__details button {
    height: 20px;
    outline: none;
    border: 0px;
    width: 20px;
    margin: 0px 10px; }
  
  .carousel-item__details:hover {
    opacity: 1;
    color: #fff; }
  
  .carousel-item p {
    margin: 2px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FF8508;
    font-family: 'Muli', sans-serif;
    letter-spacing: 3px; } 