  
    .listMain-text{
    height: 204px;
    left: 31px;
    top: 276px;
    text-align: center;
    font-family: Yellowtail;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 68px;
    letter-spacing: 0.1em;
    text-indent: 2px;
    text-transform: uppercase;
        }
    
    .card1{
    position: absolute;
    width:12rem;
    height: 280px;
    left: 500px;
    top: 210px;
    

    }

    
    .card2{
    position: absolute;
    width:12rem;
    height: 280px;
    left: 900px;
    top: 210px;
    

    }

    .card3{
    position: absolute;
    width:12rem;
    height: 260px;
    left: 500px;
    top: 520px;
   
    }   

    .card4{
    position: absolute;
    width:12rem;
    height: 260px;   
    left: 900px;
    top: 520px;        
    }  
    .card-title{
    text-align: center;
    }